    <?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile"
			fileName="${sys:itaca.callcenter.logs.path}/itaca.callcenter.ejb.log"
			filePattern="${sys:itaca.callcenter.logs.path}/itaca.callcenter.ejb-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<pattern>[%d{ISO8601}] [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="root" level="debug">
			<appender-ref ref="RollingFile" level="debug"
				additivity="false" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>